VITE_OPENAI_API_KEY=

# Appwrite Configuration
VITE_APPWRITE_ENDPOINT=
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_WORKSPACES_COLLECTION_ID=
VITE_APPWRITE_TASKS_COLLECTION_ID=
VITE_APPWRITE_REMINDERS_COLLECTION_ID=
OPENAI_API_KEY=


# Zoho Mail Configuration (make sure these are also in Vercel environment variables)
VITE_ZOHO_SMTP_HOST=
VITE_ZOHO_SMTP_PORT=
VITE_ZOHO_SMTP_USER=
VITE_ZOHO_SMTP_PASSWORD=
VITE_ZOHO_FROM_EMAIL=
